body {
    display: flex;
    flex-direction: column;
}
/* div1----------------- */
.header {
  display: flex;
  justify-content: space-evenly;
  
  background-color: #1F2937;
  color: #F9FAF8;
  font-size: 18px;
  
  font-family: 'Roboto', sans-serif;
}

.nav-links a {
  margin-left: 20px;
  
  color: #F9FAF8;
}

#div1 {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 200px;
    padding-top: 20px;
}

#btn1{
    background-color: #3882F6;
    color: white;
}

#div11{
    display: flex;
    justify-content: space-evenly;
    

}
#div111{
    flex: 1;
}
#div112{
    flex: 1;
}
.div1img{
    height: 300px;
    width: 400px;
    margin: 20px;
    
}
/* Div 2 ------------------*/
#div2{
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
}
.div22{
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div2p{
    text-align: center;
}
.div2img {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    

}
/* div 3------------------ */
#div3 {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #E5E7EB;
    font-style: italic;
    color: #1F2937;

}





/* div 4------------------ */

#div4 {
    background-color: white;

   
}
#div4-1 {
    background-color: #3882F6;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    color: #E5E7EB;
    padding: 25px 50px;
}
#d4div1 {
    flex: 2;
}
#d4div2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* div 5555555555555 */
#div5 {
    background-color: #1F2937;
    text-align: center;
    color: white;
    padding: 5px;
}
